#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.
En este notebook se hará mención a los principales lenguajes de programación revisados en el curso

## Data Science Languages

- Python
- R
- SQL
- Julia
- Scala
- Java
- MATLAB
- SAS
- JavaScript

## Data Science Libraries

- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow
- Keras
- PyTorch
- Statsmodels
- SciPy

# Data Science Tools

| Tool           | Description                                      |
|----------------|--------------------------------------------------|
| Jupyter        | Interactive computing environment                |
| RStudio        | Integrated development environment for R         |
| Apache Spark   | Unified analytics engine for big data processing |
| TensorFlow     | Open-source machine learning framework           |
| RapidMiner     | Data science platform for analytics teams        |
| KNIME          | Open-source data analytics platform              |
| MATLAB         | Numerical computing environment                  |
| SAS            | Statistical software suite                       |
| Tableau        | Data visualization tool                          |
| Power BI       | Business analytics service by Microsoft          |

# Arithmetic Expression Examples

### Below are a few examples of evaluating arithmetic expressions in Python

1. **Addition**
   ```python
   # Adding two numbers
   result = 5 + 3
   print(result)  # Output: 8

# Subtracting two numbers
result = 10 - 4
print(result)  # Output: 6

# Multiplying two numbers
result = 7 * 2
print(result)  # Output: 14

# Dividing two numbers
result = 20 / 5
print(result)  # Output: 4.0

# Raising a number to the power of another number
result = 2 ** 3
print(result)  # Output: 8

In [21]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [14]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Introduce arithmetic expression examples
- Convert minutes to hours using Python
- List data science libraries
- Create a table of Data Science tools

## Author

Yonathan Müller